<div class="options">
    {{#power-select-multiple
        options=years
        selected=selectedYears
        placeholder="Filter questions that were asked for specific years..."
        onchange=(action (mut selectedYears))
    as |year|
    }}
        {{year}}
    {{/power-select-multiple}}

    {{#power-select
        selected=activeQuestion
        options=questions
        onchange=(action "selectQuestion")
    as |question|}}
        {{question}}
    {{/power-select}}

    <div class="row">
        {{!--<span>
            <label>Max Answers:</label>
            {{input type="number" value=responseLimit min=1}}
        </span>--}}

        <span>
            <label>Use Percentages:</label>
            {{input type="checkbox" checked=usePercentages}}
        </span>
    </div>
</div>

{{#if filter}}
    <div class="filter">Showing results that responded <span
        class="answer">{{filter.a}}</span> to
        <span class="question" title="Click to show question"
              onclick={{action "selectQuestion" filter.q}}>{{filter.q}}
        </span>
        {{material-icon "cancel" onclick=(action "filterByResponse" undefined) title="Clear filter"}}
    </div>
{{/if}}

{{#if chartData}}
    {{viz-bar
        data=chartData
        title=activeQuestion
        yAxisLabel=(if usePercentages "Percent" "Responses")
        theme=chartTheme
        showLegend=(gt chartData.length 1)
    }}

    <div class="table">
        <div class="row header">
            <span class="shrink">Filter</span>
            <span>Answer</span>
            {{#each chartYears as |year|}}
                <span>{{year}}</span>
            {{/each}}
        </div>
        {{#each activeResponsesByYear as |response|}}
            <div class="row">
                <span class="shrink">{{material-icon "filter_list" title="Click to filter"
                                                     onclick=(action "filterByResponse" response)}}</span>
                <span>{{response.a}}</span>
                {{#each chartYears as |year|}}
                    <span>{{format-number (get response.years year)}}</span>
                {{/each}}
            </div>
        {{/each}}
    </div>

{{/if}}


